#weatherApp {
  background-color: #DDE3EA;
  font-family: 'Rubik', sans-serif;;
}

#offcanvasSearch {
  background-color: #DDE3EA;
}

#searchBar {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
  width: 100%
}

#searchBarInput {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 50px;
  border: 1px solid;
  padding: 0.5rem;
}

.weatherIcon {
  width: 60%;
  margin: 0 auto;
  color: white;
}

#cityName {
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 0;
}

.mainTemp {
  margin: 0;
}

#mainDivider {
  width: 20%;
  border: 0.5px solid lightslategrey;
  margin-block: 3rem;
}

.mainOtherInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  font-size: 0.8rem;
}

.sunrise {
  width: 50px;
}

.weatherSmallIcons {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.searchIcons {
  font-size: 1.8rem;
}

#mainWeather {
  background-color: #DDE3EA;
  border-radius: 50px;
  margin-inline: 0.2rem;
  padding: 1rem;
  text-align: center;
}

#temperature {
  display: flex;
  justify-content: center;
  padding-inline: 2rem;
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
}

.futureConditonsList {
 
  padding-inline: 3rem;
  border: 1px solid #8FA6CB;
  border-radius: 25px;
  background-color: #DDE3EA;
}

.weatherIconFuture {
  color: black;
}

