#weatherApp {
  background-color: #DBEBFA;
  font-family: 'Rubik', sans-serif;;
}

#offcanvasSearch {
  background-color: #DBEBFA;
}

#searchBar {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
  width: 100%
}

#searchBarInput {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 50px;
  border: 1px solid;
  padding: 0.5rem;
}

.weatherIcon {
  width: 80%;
  margin: 0;
  color: white;
}

.weatherSmallIcons {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.searchIcons {
  font-size: 1.8rem;
}

#mainWeather {
  background-color: #DBEBFA;
  border-radius: 50px;
  margin-inline: 0.2rem;
  padding: 1rem;
  text-align: center;
}

#tempWind {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  font-size: 1.2rem
}

.futureConditonsList {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  border: 1px solid #8FA6CB;
  border-radius: 25px;
  background-color: #E5FCFF;
}

.weatherIconFuture {
  color: black;
}

